#mainContent {
    background-color: white;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 80px;
    margin-right: 80px;
    height: 695px;
    position: relative;
}

#back-btn {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 25px;
}

.carousel-control-next-icon {
    background-image: url("../assets/images/next.png")
}

.carousel-control-prev-icon {
    background-image: url("../assets/images/back.png")
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 40px;
    height: 40px;
}


h3 {
    font-size: 64px;
}

h1 {
    font-size: 96px;
    padding-top: 20px;
    padding-bottom: 20px;   
}

h5 {
    font-size:24px;
}


#right-pane {
    padding-top:5%;
    font-family: "Rockwell";
    color: #087830;
}


#carousel-thumb {
    left:12.5%;
    padding-top:8.5%;
    padding-bottom: 8.5%;
    padding-left: 12.5%;
    padding-right: 12.5%;
    
}

.carousel-thumbnails .carousel-inner div img {
    height: 500px;
}

.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 100px;
    overflow: hidden;
    display: block;
}

.carousel-control-next {
    right: 50px;
}

.carousel-control-prev {
    left: 50px;
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    bottom: -10px;
}

.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
    margin-top: 50px;
	box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
	
	&.active {
		border-bottom: 4px solid #fff;
	}
}

.carousel-indicators {
    bottom:-60px;
}
