#headerLbl{
    padding: 25px 30px 25px 30px !important;
    font-size: 30px !important;
    font-family: "Verdana", Sans-serif;
}

#mainContent{
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-display;
}

.cardContainer{
    padding: 5px 5px;
}

.flex-item {
    padding: 5px 5px;
    display: flex;
    border-radius: 20px;
    text-align: center;
}

.card-img-top{
    width: 275px !important;
    height: 180px;
}

