body{
    background-color: #B9F6CA !important;
    padding-top: 76px;
    width: 100%;
  	font-family: "Lato", sans-serif;
}
  
html{
  max-width: 100%;
  overflow-x: hidden;
}

nav{
  background-color: #087830;
} 

#logo{
  width: 120px;
  height: 50px;;
} 
  
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;  
}

a{
  cursor: pointer;
}

.btn {
  background-color: rgb(21, 78, 36);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(144, 233, 10);
  /* border: 1px solid black; */
}

input{
    border-radius: 10px;
}
  

#footer{
  margin-top: 20px;
  display:flex;
  background-color: #087830;
  color: white;
  justify-content: space-evenly;
  text-align: center;
  font-size: 12px;
  align-items: center;
}

.footer-header {
  font-size: 18px;
  font-weight: bold
}

.footer-content {
    font-size: 14px;
}

#about {
  text-align: left;
  padding: 20px;
  max-width: 40%;
}

#contact {
  text-align: left;
  padding: 20px;
  max-width:40%
}

.ylw-link{
  color:yellow;
}

.ylw-link:hover {
  color: yellow;
  text-decoration: underline;
}


/* .modal-footer{
    justify-content: center !important;
} */
  
@media all and (max-width:800px){
    .modal-content{
        width: 70%;
        left: 20%;
    }
}
@media all and (min-width:801px){
    .modal-content{
        width: 70%;
        left: 20%;
    }
}
@media all and (max-width:600px){
    .modal-content{
        left: 15%;
    }
}
  
