body{
    background-color: #B9F6CA !important;
    padding-top: 126px;
    width: 100%;
}
  
html{
  max-width: 100%;
  overflow-x: hidden;
}

/* nav{
  background-color: #087830;
}  */
/* 
.nav-link{
  color: rgba(250, 250, 250, 0.5);
}


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}


.nav-link:hover{
  color: #B9F6CA !important;
} */

img{
  width: 120px !important;
  height: 100px;;
}
  
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;  
}
  