body{
    background-color: #B9F6CA !important;
    padding-top: 126px;
    width: 100%;
  	font-family: "Lato", sans-serif;
}
  
html{
  max-width: 100%;
  overflow-x: hidden;
}

nav{
  background-color: #087830;
} 

#logo{
  width: 120px;
  height: 100px;;
} 
  
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;  
}

#carousel-container {
  display: inline-block;
  width: 80%
}

a{
  cursor: pointer;
}

#titleDiv{
  /* padding: 25px 30px 0px 30px !important;
  font-size: 30px !important;
  font-family: "Verdana", Sans-serif;
  display: inline-block !important; */

  
  font-size: 30px !important;
  font-family: "Verdana", Sans-serif;
  padding: 30px 30px 30px 30px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#mainContent{
  text-align: center;
  /* padding: 0px 30px 25px 30px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; */
}

.btn {
  display: flex;
  background-color: rgb(21, 78, 36);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(144, 233, 10);
  /* border: 1px solid black; */
}


input{
  border-radius: 10px;
}

/* .modal-footer{
  justify-content: center !important;
} */

@media all and (max-width:800px){
  .modal-content{
      width: 70%;
      left: 20%;
  }
}
@media all and (min-width:801px){
  .modal-content{
      width: 70%;
      left: 20%;
  }
}
@media all and (max-width:600px){
  .modal-content{
      left: 15%;
  }
}
