body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
}

html{
    min-height: 100%;
    background-color: #087830;
}

img{
    width: 200px;
    height: 150px;
}

input{
    text-align: center;
    border-radius: 10px;
}

div{
    /* background-color: rgba(0,0,0); */
    border-radius: 60px;
    height: 500px;
    width: 400px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    padding: 10px 10px;
}

h1{
    padding:50px 30px; 
    font-size:150px;
    text-align: center;
    /* color: rgb(73, 236, 9); */
}

.container {
    background-color: rgba(0,0,0,0);
    text-align: center;
    
    font-size:24px;
    color: white;
    /* color: rgb(73, 236, 9); */
}

#login{
    /* background-color: rgb(6, 168, 114); */
    background-color: black;
    color: white;
    display:inline-block;
    padding:10px 30px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 1px rgba(50,50,0,0.75);
    transition-duration:0.1s;
    transition-timing-function:ease;
    transition-property:all;
    border-radius: 20px !important;
}

#login:hover{
    /* background-color:rgb(106, 66, 168); */
    background-color: rgb(8, 243, 165);
    color: black;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
