<div class="cardContainer" id="addCatCard" data-toggle="modal" data-target="#addCatModal">
    <div class="card flex-item" style="width: 18rem; " >
            <img class="card-img-top" src="../assets/images/addCat.png" alt="Card image cap">
            <div class="card-body" style="padding: 50px 20px 10px 20px">
                <h5 class="card-title">Add Cat</h5>
            </div>
    </div>
</div>

{{#each catSearch}}
        <div id="mainCatsContent">
            <div class="cardContainer" onclick="gotoCat()">
                <div class="card flex-item" style="width: 18rem;">
                    <img class="card-img-top" src="{{imagePath}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{nameCat}}</h5>
                        <div class="btnDiv">
                            <button href="#" class="btn catActions">Edit Info</button>
                            <button href="#" class="btn catActions">Remove Cat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{/each}}