{{#each catSearch}}
        <div id="mainCatsContent">
            <div class="cardContainer" onclick="gotoCat()">
                <div class="card flex-item" style="width: 18rem;">
                    <img class="card-img-top" src="{{imagePath}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{nameCat}}</h5>
                    </div>
                </div>
            </div>
        </div>
{{/each}}