<div id="footer">
    <div id="about">
        <h4 class="footer-header">About Us</h4>
        <h6 class="footer-content">
            DLSU-PUSA (Professors for the Uplifttment of Society's Animals) is an organization that cares mainly for the Taft campus' cats. We feed, neuter, and spay to control the cat population. Additionally, we provide vaccination/antirabies shots, medical care, adopting/rehoming of stray cats & occasionally even stray dogs, etc.
        </h6>
    </div>
    <div id="contact">
        <h4 class="footer-header">Contact Us</h4>
        <h6 class="footer-content">
            Facebook Group: <a class="ylw-link" href="https://www.facebook.com/groups/DLSUPUSA/">DLSU PUSA</a> <br>
            Facebook Page: <a class="ylw-link" href="https://web.facebook.com/catsofdlsu/">Cats of DLSU</a> <br>
            Contact Person: Mary Laureen Velasco<br>
            Contact Details: 09123456789<br>
            Location: De La Salle University 2401 Taft Avenue, Manila 1004, Philippines, Mutien Marie Hall 
        </h6>
    </div>
</div>