<option value="Solid">Solid</option>
<option value="Tabby">Tabby</option>
<option value="Bicolor">Bicolor</option>
<option value="Tricolor">Tricolor</option>
<option value="Tortoiseshell">Tortoiseshell</option>