<div class="modal" id="loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color:transparent; border:none">
      <div class="modal-body" style="text-align:center;">
        <div style="position:relative;height:80px; margin-top:10px; margin-bottom:10px">
            <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>