<option value="lasalle">St. La Salle Hall</option>
<option value="henry">Henry Sy Sr. Hall</option>
<option value="sj">St. Joseph Hall</option>
<option value="velasco">Velasco Hall</option>
<option value="miguel">St. Miguel Hall</option>
<option value="goks">Gokongwei Hall</option>
<option value="strc">Science and Technology Research Center</option>
<option value="razon">Razon Sports Center</option>
<option value="agno">Agno Street</option>
<option value="faculty">Faculty Center</option>
<option value="yuch">Yuchenco Hall</option>
<option value="connon">Br. Connon Hall</option>
<option value="mutien">Mutien Marie Hall</option>