<option>St. La Salle Hall</option>
<option>Henry Sy Sr. Hall</option>
<option>St. Joseph Hall</option>
<option>Velasco Hall</option>
<option>St. Miguel Hall</option>
<option>Gokongwei Hall</option>
<option>Sci & Tech Research Center</option>
<option>Razon Sports Center</option>
<option>Agno Street</option>
<option>Faculty Center</option>
<option>Yuchenco Hall</option>
<option>Br. Connon Hall</option>
<option>Mutien Marie Hall</option>