<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../assets/images/icon.PNG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">               
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../css/home.css">   
    <link rel="stylesheet" type="text/css" href="../css/global.css">   
    <title>Test</title>
</head>
<body>
    <!-- IF NOT LOGGED IN -->
    {{#unless login}}
        {{> nav}}
    {{else}}
    <!-- ELSE IF LOGGED IN AS ADMIN -->
        {{#if admin}}
            {{> admin-nav}}
    
    <!-- ELSE IF LOGGED IN AS ADOPTER -->
        {{else}}
            {{> adopter-nav}}
        {{/if}}
    {{/unless}}
    <!-- CONTENT -->
    
    
    {{> footer}}
</body>
</html>