<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requests</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/icon.PNG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">               
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../css/global.css">   
    <link rel="stylesheet" type="text/css" href="../css/requests.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../js/requests.js"></script>
    <script src="../js/global.js"></script>
</head>
<body>
    {{#if user}}
        {{#if user.admin}}
            {{> adminNav}}
        {{else}}
            {{> adopterNav}}
        {{/if}}
    {{else}}
        {{> nav}}
    {{/if}}
     <div id="mainContent">
             {{!-- <div class="headerDiv">
                <h1 class="section-header flex-item">Requests</h1>
                <div class="flex-item" id="sortOptions">
                    Sort By: &nbsp;
                    <select>
                        <option val="dateTime">Date Time</option>
                        <option val="isCompleted">Completion Status</option>
                    </select>
                </div>
            </div> --}}

            <div class="tableContainer"> 
                <h1 class="section-header">Pending Requests</h1>
                {{> pendingTable}}
                <h2 class="section-header">Completed Requests</h2>
                {{> completedTable}}
            </div>
    
        </div>
    
    {{> footer}}
    {{!-- <form action="/article" id="article-id-form">
        <input type="hidden" name="id" id="article-id">
    </form> --}}
</body>
</html>