#titleDiv{
    padding: 25px 30px 0px 30px !important;
    color: rgb(21, 78, 36);
    font-weight: bold;
    text-align: left;
}

#searchDiv{
    padding: 25px 7px 25px 30px !important;
    font-size: 16px !important;
    font-family: "Verdana", Sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headerBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainContent{
    /* padding: 0px 30px 25px 30px !important; */
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mainCatsContent{
    padding: 0px 0px 25px 3px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cardContainer{
    padding: 5px 5px;
    cursor: pointer;
}

.card-body{
    padding: 20px 20px 10px 20px;
}

.flex-item {
    /* height: 304px; */
    padding: 0px;
    display: flex;
    /* border-radius: 20px; */
    text-align: center;
    /* height: 349px; */
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.flex-item:hover {
    box-shadow: 0px 0px 5px rgba(50,50,0,0.95);
}

.card-img-top{
    /* width: 288px !important;*/
    height: 215px; 
}

#searchInput{
    display: flex;
    border-radius: 10px 0px 0px 10px;
}

#searchBarDiv{
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: left;
}

.btn {
    display: flex;
    background-color: rgb(21, 78, 36);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(144, 233, 10);
    /* border: 1px solid black; */
}

#searchBtn{
    border-radius: 0px 10px 10px 0px;
}

#filterBtn{
    border-radius: 10px !important;
    padding: 6px 10px 10px 10px !important;
    margin: 15px;
    font-family: "Verdana", Sans-serif !important;
}

body {
    font-family: "Lato", sans-serif;
}

input{
    padding: 3px;
    border-radius: 10px;
}

.btnDiv{
    margin: 0px 0px 5px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.catActions{
    margin: 5px;
}

/* .modal-footer{
    justify-content: center !important;
} */

/* @media all and (max-width:800px){
    .modal-content{
        width: 70%;
        left: 20%;
    }
}
@media all and (min-width:801px){
    .modal-content{
        width: 70%;
        left: 20%;
    }
}
@media all and (max-width:600px){
    .modal-content{
        left: 15%;
    }
} */
