body{
    background-color: #B9F6CA !important;
    padding-top: 76px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  	font-family: "Lato", sans-serif;
}

#mainContent {
  flex: 1 0 auto
}

html{
  max-width: 100%;
  height:100%;
  overflow-x: hidden;
}

nav{
  background-color: #087830;
} 

#logo{
  width: 120px;
  height: 50px;;
} 
  
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;  
}

a{
  cursor: pointer;
}

.btn {
  background-color: rgb(21, 78, 36);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(144, 233, 10);
  /* border: 1px solid black; */
}

.btn-danger {
  /* background-color: rgb(21, 78, 36);*/
  border: none; 
  color: white;
  font-size: 16px;
  cursor: pointer;
  
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-danger:hover {
  background-color: rgb(245, 113, 96);
  border: 1px solid black;
}

input{
    border-radius: 10px;
}
  

#footer{
  margin-top: 20px;
  display:flex;
  background-color: #087830;
  color: white;
  justify-content: space-evenly;
  text-align: center;
  font-size: 12px;
  align-items: center;
  flex-shrink: 0;
}

.footer-header {
  font-size: 18px;
  font-weight: bold
}

.footer-content {
    font-size: 14px;
}

#about {
  text-align: left;
  padding: 20px;
  max-width: 40%;
}

#contact {
  text-align: left;
  padding: 20px;
  max-width:40%
}

.ylw-link{
  color:yellow;
}

.ylw-link:hover {
  color: yellow;
  text-decoration: underline;
}


/* .modal-footer{
    justify-content: center !important;
} */
  
@media all and (max-width:800px){
    .modal-content{
        width: 70%;
        left: 20%;
    }
}
@media all and (min-width:801px){
    .modal-content{
        width: 70%;
        left: 20%;
    }
}
@media all and (max-width:600px){
    .modal-content{
        left: 15%;
    }
}
  
@font-face {
  font-family: 'FontAwesome';
  src: url('your/path/fontawesome-webfont.eot?v=3.0.1');
  src: url('your/path/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('your/path/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('your/path/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#panel7, #panel8{
  position: relative;
}

#panel7 input, #panel8 input{
  text-indent: 40px;
}

#panel7 i, #panel8 i{
  position: absolute;
  font-size: 15px;
}

.icon{
  padding:10px;
  min-width: 40px;
  text-align: center;
  vertical-align: center;
  border-right-style: solid;
  line-height: 10px;
  border-color: gray;
}

#btn-profile:hover, #btn-logout:hover{
  color: blue;
  background-color: aliceblue;
}
