.label-field {
    background:rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    font-size: 24px;
}

.headerDiv{
    display: flex;
    flex-direction: row;
}

.section-header{
    margin: 0px 20px 8px 0px;
}

.editInputField{
    width: 100%;
}

.catAdoptedDiv{
    font-size:18px;
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
}

.catImg{
    margin: 10px 15px 10px 10px;
    width: 70px; 
    height: 70px;
}

.flex-item{
    display: flex;
}

.editPageBtnDiv{
    margin: 10px;
    display: flex; 
    flex-direction: row-reverse;
    align-content: center;
}

#editBtn{
    display: flex; 
    flex-direction: row-reverse;
    /* align-content: center; */
}

.card{
    font-size:18px;
    padding:20px; 
    border-radius: 50px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

#editBtn{
    margin: 0px 15px 0px 15px;
    width: 50px;
}

.profileDiv{
    /* padding: 15px; */
    padding: 10px;
    display: flex; 
}

.editProfileDiv{
    margin: 5px;
}

.card {
    text-align: left;
}

.container-center {
    display: inline-block;
    width: 100%;
}

.card-img {
    width: 100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}


.section-header {
    color: rgb(21, 78, 36);
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mainContent{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

/* 
.cardContainer{
    padding: 5px 5px;
    cursor: pointer;
} */

.card-body{
    padding: 20px 20px 10px 20px;
}


.tableContainer {
    text-align: center;
}

table {
    border-collapse: separate;
  }

  thead {
    background-color: #087830;
    color: #FFFFFF;
  }

  thead > tr > :first-child {
    border-radius: 10px 0px 0px 0px;
  }
  
  thead > tr > :last-child {
    border-radius: 0px 10px 0px 0px;
  }

  tbody > :last-child > :first-child {
    border-radius: 0px 0px 0px 10px;
  }

  tbody > :last-child > :last-child {
    border-radius: 0px 0px 10px 0px;
  }

  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #087830;
  }


