.headerDiv{
    display: flex;
    flex-direction: row;
}


.section-header {
    color: rgb(21, 78, 36);
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
  

.flex-item{
    display: flex;
}

#sortOptions{
    margin: 33px;
}

.card{
    padding:10px; 
    border-radius: 50px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between
}

.checkBoxDiv{
    border-radius: 50px; 
    background-color: white; 
    padding: 10px; 
    display: flex; 
    flex-direction: row;
}

.tickBox{
    margin: 3px; 
    zoom: 3; 
    display: flex;
}

.contentLbl{
    display: flex;
    font-size: 20px; 
    margin:10px 10px 0px 0px;
}

.delete{
    margin: 23px; 
    /* display: flex; */
    padding: 5px; 
    width:30px; 
    height:30px;
}

.tableContainer {
    text-align: center;
}

td, th {
    padding: 10px;
}