.headerDiv{
    display: flex;
    flex-direction: row;
}


.section-header {
    color: rgb(21, 78, 36);
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
  

.flex-item{
    display: flex;
}

#sortOptions{
    margin: 33px;
}

.card{
    padding:10px; 
    border-radius: 50px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between
}

.checkBoxDiv{
    border-radius: 50px; 
    background-color: white; 
    padding: 10px; 
    display: flex; 
    flex-direction: row;
}

.tickBox{
    margin: 3px; 
    zoom: 3; 
    display: flex;
}

.contentLbl{
    display: flex;
    font-size: 20px; 
    margin:10px 10px 0px 0px;
}

.delete{
    margin: 23px; 
    /* display: flex; */
    padding: 5px; 
    width:30px; 
    height:30px;
}

.tableContainer {
    text-align: center;
}

table {
    border-collapse: separate;
  }

  thead {
    background-color: #087830;
    color: #FFFFFF;
  }

  thead > tr > :first-child {
    border-radius: 10px 0px 0px 0px;
  }
  
  thead > tr > :last-child {
    border-radius: 0px 10px 0px 0px;
  }

  tbody > :last-child > :first-child {
    border-radius: 0px 0px 0px 10px;
  }

  tbody > :last-child > :last-child {
    border-radius: 0px 0px 10px 0px;
  }

  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #087830;
  }