.section-header {
    color: rgb(21, 78, 36);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #mainContent {
    text-align: center;
  }

  #tableContainer {
      text-align: center;
  }

  table {
    border-collapse: separate;
  }

  thead {
    background-color: #087830;
    color: #FFFFFF;
  }

  thead > tr > :first-child {
    border-radius: 10px 0px 0px 0px;
  }
  
  thead > tr > :last-child {
    border-radius: 0px 10px 0px 0px;
  }

  tbody > :last-child > :first-child {
    border-radius: 0px 0px 0px 10px;
  }

  tbody > :last-child > :last-child {
    border-radius: 0px 0px 10px 0px;
  }

  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #087830;
  }