.section-header {
    color: rgb(21, 78, 36);
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #mainContent {
    text-align: center;
  }

  #tableContainer {
      text-align: center;
  }

  td {
      padding: 10px;
  }